.highlight:hover .copy-btn,
.highlight .copy-btn:focus {
  opacity: 1;
}
.copy-btn {
  color: var(--grey-7);
  cursor: pointer;
  line-height: 1.6;
  opacity: 0;
  padding: 2px 6px;
  position: absolute;
  background: var(--grey-1);
  border: 0;
  font-size: $font-size-smaller;
  right: 0;
  top: 0;
}
.highlight,
pre {
  background: var(--grey-2);
  color: var(--grey-7);
  line-height: $line-height-code-block;
  margin: 20px auto;
}
pre,
code {
  font-family: $font-family-monospace;
  font-size: $font-size-medium;
}
code {
  background: var(--grey-0);
  border-radius: 3px;
  color: var(--primary-color);
  padding: 0.2em 0.3em;
}
:not(pre)>code {
  color: var(--primary-color);
  border-radius: 0.3em;
  border: 1px solid rgba(0,0,0,0.1);
  background-color: var(--grey-0);
}
.highlight {
  position: relative;
  border-radius: 0.25rem;
  overflow: hidden;
}
.highlight *::selection {
  background: var(--grey-4);
}
.highlight pre {
  border: 0;
  margin: 0;
  padding: 10px 0;
  box-sizing: unset;
}
.highlight figcaption {
  color: var(--grey-7);
  display: flex;
  font-size: $font-size-small;
  line-height: 1.2;
  padding: 0.5em;
  min-height: 1.5rem;
}
.highlight figcaption::before,
.highlight figcaption::after {
  content: "";
  display: table;
}
.highlight figcaption::after {
  clear: both;
}
.highlight figcaption span {
  margin: auto 0.6rem;
}
.highlight figcaption span:first-child {
  float: left;
  margin-left: 0.5rem;
}
.highlight figcaption span.external-link {
  float: right;
  margin-right: 2em;
}
.highlight figcaption .lang {
  float: left;
  color: var(--grey-4);
}
.highlight figcaption a {
  color: var(--grey-7);
}
.highlight figcaption a:hover {
  border-bottom-color: var(--grey-7);
}
.highlight figcaption .carbon {
  display: flex;
  margin: 0.2rem 0 0 0.5rem;
  font-size: 0;
  align-items: center;
}
.highlight figcaption .carbon .dot {
  display: inline-block;
  margin: 0 4px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.highlight figcaption .carbon .dot.red {
  background-color: #ff5f56;
}
.highlight figcaption .carbon .dot.yellow {
  background-color: #ffbd2e;
}
.highlight figcaption .carbon .dot.green {
  background-color: #27c93f;
}
.highlight .code-container {
  display: flex;
  position: relative;
}
.highlight .code-container .show-btn {
  position: absolute;
  cursor: pointer;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 70px;
  text-align: center;
  color: var(--text-color);
  background-image: linear-gradient(180deg, transparent 10%, var(--grey-2) 50%);
}
.highlight .code-container .show-btn.open {
  background: none;
  bottom: 10px;
}
.highlight .marked {
  display: inline-block;
  margin-right: -10px;
  padding-right: 10px;
  box-sizing: unset;
  background-color: var(--color-red-a1);
  width: 100%;
}
.highlight pre.gutter {
  width: 40px;
  color: var(--color-grey);
  padding-right: 10px;
  text-align: right;
  background-color: var(--grey-3);
  overflow-y: hidden;
}
.highlight pre.code {
  background: var(--grey-2);
  padding: 10px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}
.highlight pre.code .marked {
  margin: auto -10px;
  padding: 0 10px;
  box-sizing: border-box;
}
.highlight pre.code .marked:hover {
  background-color: var(--grey-3);
}
pre {
  overflow: auto;
  padding: 10px;
}
pre code {
  background: none;
  color: var(--grey-7);
  font-size: $font-size-small;
  padding: 0;
  text-shadow: none;
}
pre .deletion {
  background: var(--color-pink-light);
}
pre .addition {
  background: var(--color-cyan-light);
}
pre .meta {
  color: var(--color-yellow);
}
pre .comment,
pre .punctuation {
  color: var(--grey-5);
}
pre .variable,
pre .function,
pre .attribute,
pre .tag,
pre .name,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: var(--color-red);
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .builtin-name,
pre .literal,
pre .params,
pre .constant,
pre .command {
  color: var(--color-orange);
}
pre .ruby .class .title,
pre .css .rules .attribute,
pre .string,
pre .symbol,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata,
pre .special,
pre .formula {
  color: var(--color-green);
}
pre .title,
pre .css .hexcolor,
pre .namespace {
  color: var(--color-aqua);
}
pre .class-name,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: var(--color-blue);
}
pre .keyword,
pre .javascript .function {
  color: var(--color-purple);
}
