.links {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9em;
mobile()
}
.links .item {
  position: relative;
  display: inline-flex;
  justify-self: center;
  align-items: center;
  line-height: 1.5;
  width: calc(50% - 2rem);
  padding: 0.5rem 1rem;
  margin: 1rem;
}
.links .item .image {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 15px;
  background: var(--grey-1) center no-repeat;
  background-size: contain;
  flex-shrink: 0;
}
.links .item .info {
  padding-left: 1rem;
}
.links .item .title {
  margin: 0.5rem 0;
  font-family: $font-family-headings;
  font-weight: bold;
  color: var(--block-color);
}
.links .item .title .ic {
  display: none;
}
.links .item .desc {
  font-size: $font-size-smallest;
  margin: 0.5rem 0;
}
.links .item:hover {
  color: #fff;
  background-color: var(--block-color);
  box-shadow: 0 2px 20px var(--block-color);
  border-color: var(--block-color);
}
.links .item:hover .image {
  mix-blend-mode: normal;
  background-color: var(--block-color);
}
.links .item:hover .title {
  color: #fff;
}
