.container>header {
  margin: 0 auto;
  position: relative;
  width: 100%;
  text-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}
.container>header .lozad {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  min-height: 400px;
  z-index: -9;
  list-style: none;
  margin: 0;
  padding: 0;
}
.container>header .lozad li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 36s linear infinite 0s;
}
.container>header .lozad li:nth-child(1) {
  animation-delay: 0s;
}
.container>header .lozad li:nth-child(2) {
  animation-delay: 6s;
}
.container>header .lozad li:nth-child(3) {
  animation-delay: 12s;
}
.container>header .lozad li:nth-child(4) {
  animation-delay: 18s;
}
.container>header .lozad li:nth-child(5) {
  animation-delay: 24s;
}
.container>header .lozad li:nth-child(6) {
  animation-delay: 30s;
}
.container>header .lozad::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
}
.container>header nav {
  position: fixed;
  z-index: $zindex-2;
  width: 100%;
  height: 50px;
}
.container>header nav.up {
  transform: translateY(0);
}
.container>header nav.down {
  transform: translateY(-100%);
}
.container>header nav.show {
  background: linear-gradient(-225deg, var(--color-cyan-light) 0%, var(--color-pink-light) 100%);
  box-shadow: 0.1em 0.1em 0.2em var(--grey-9-a1);
  text-shadow: 0px 0px 1px var(--grey-9-a1);
}
.container>header nav.show a,
.container>header nav.show span.exturl,
.container>header nav.show div {
  color: var(--text-color);
}
.container>header nav.show .line {
  background: var(--text-color);
  box-shadow: 0px 0px 1px var(--grey-9-a1);
}
.container>header nav.show .menu .item.active a {
  color: var(--color-aqua);
  opacity: 1;
}
.container>header nav a,
.container>header nav span.exturl,
.container>header nav div {
  color: #fff;
}
.container>header nav .inner {
  height: 100%;
  display: flex;
  width: $content-desktop;
  flex-wrap: nowrap;
desktop-large()
desktop-largest()
tablet-mobile()
}
.toggle.menu {
  display: none;
tablet-mobile()
}
.toggle.menu .lines {
  padding: 20px;
  width: 22px;
  box-sizing: unset;
}
header .list.menu {
  padding: 10px 0;
  margin: 0;
  width: 100%;
}
header .list.menu .item {
  display: inline-block;
  margin: 0 10px;
mobile()
}
header .list.menu .item a,
header .list.menu .item span.exturl {
  display: block;
  font-size: $font-size-medium;
}
header .list.menu .item i {
  margin-right: 8px;
}
header .list.menu .item .badge {
  display: inline-block;
  font-weight: bold;
  line-height: 1;
  margin-left: 0.35em;
  margin-top: 0.35em;
  text-align: center;
  white-space: nowrap;
mobile()
}
header .list.menu .item a:hover,
header .list.menu .item.active a {
  opacity: 0.8;
}
header .list.menu .item.active a:hover {
  opacity: 1;
}
.menu div {
  cursor: pointer;
}
.right.menu {
  display: inline-flex;
  line-height: 1;
  align-items: center;
  justify-content: center;
}
.right.menu .back-to-top {
  display: none;
}
.right.menu .back-to-top span {
  font-size: $font-size-smallest;
  margin: 10px;
  width: 30px;
}
.right.menu .search-btn {
  padding: 10px;
  font-size: $font-size-smallest;
}
.right.menu div + div {
  margin-left: 10px;
}
.container>header nav.show .back-to-top {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.brand {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 250px;
}
.brand .meta {
  position: fixed;
  width: 556px;
  top: 0;
  left: calc(50% - 278px);
  padding-top: 50px;
  text-align: $site-meta-text-align;
mobile()
}
.brand .meta.affix {
  z-index: $zindex-0;
}
.brand .meta .logo {
  border-bottom: none;
  color: #fff;
  display: inline-block;
  line-height: $font-size-title;
  padding: 0 40px;
  position: relative;
}
.brand .meta .title {
  font-weight: bold;
  font-family: $font-family-logo;
  font-size: $font-size-title;
  margin: 0;
}
.brand .meta .subtitle {
  color: #fff;
  font-size: $font-size-subtitle;
  margin: 10px 0;
}
.brand .meta .artboard {
  width: 435px;
  height: 100px;
  margin: 20px;
  display: block;
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  filter: drop-shadow(0px 0px 8px rgba(0,0,0,0.5));
mobile()
}
.brand .waves {
  width: 100%;
  height: 15vh;
  margin-bottom: -13px;
  min-height: 100px;
  max-height: 150px;
}
.parallax>use {
  animation: wave 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
  fill: var(--grey-1-a7);
}
.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
  fill: var(--grey-1-a5);
}
.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
  fill: var(--grey-1-a3);
}
.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
  fill: var(--grey-1);
}
@-moz-keyframes wave {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
@-webkit-keyframes wave {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
@-o-keyframes wave {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
@keyframes wave {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
@-moz-keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    transform: scale(1.05);
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    transform: scale(1.1);
  }
  25% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    transform: scale(1.05);
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    transform: scale(1.1);
  }
  25% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    transform: scale(1.05);
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    transform: scale(1.1);
  }
  25% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    transform: scale(1.05);
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    transform: scale(1.1);
  }
  25% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}
