.right.menu {
  display: inline-flex;
  line-height: 1;
  align-items: center;
  justify-content: center;
}
.right.menu .back-to-top {
  display: none;
}
.right.menu .back-to-top span {
  font-size: $font-size-smallest;
  margin: 10px;
  width: 30px;
}
.right.menu .search-btn {
  padding: 10px;
  font-size: $font-size-smallest;
}
.right.menu div + div {
  margin-left: 10px;
}
.container>header nav.show .back-to-top {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
