.v .vsys,
.v .vtime,
.v .status-bar {
  color: var(--grey-5);
}
.v .text-right {
  text-align: right;
}
.v .text-center {
  text-align: center;
}
.v .pd5 {
  padding: 5px;
}
.v .pd10 {
  padding: 10px;
}
.v img {
  max-width: 100%;
  border: none;
}
.v hr {
  margin: 0.825em 0;
}
.v.hide-avatar .vimg {
  display: none;
}
.v a {
  position: relative;
  cursor: pointer;
  color: var(--color-aqua);
  text-decoration: none;
  display: inline-block;
}
.v a:hover {
  color: var(--primary-color);
}
.v pre {
  padding: 10px;
  overflow: auto;
  line-height: 1.45;
}
.v pre code {
  font-size: $font-size-medium;
}
.v blockquote {
  padding: 0 0 0 1em;
  border-left: 4px solid var(--grey-3);
}
.v .vinput {
  border: none;
  resize: none;
  outline: none;
  padding: 10px 5px;
  max-width: 100%;
  font-size: $font-size-smallest;
}
.v input[type=checkbox],
.v input[type=radio] {
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
}
.v .clear {
  content: "";
  display: block;
  clear: both;
}
.v .vicon {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  fill: var(--grey-6);
  vertical-align: middle;
}
.v .vicon+.vicon {
  margin-left: 10px;
}
.v .vicon.actived {
  fill: var(--color-blue);
}
.v .vrow {
  padding: 10px 0;
}
.v .vrow .vcol {
  display: inline-block;
  vertical-align: middle;
  font-size: $font-size-small;
}
.v .vrow .vcol.vcol-20 {
  width: 20%;
}
.v .vrow .vcol.vcol-30 {
  width: 30%;
}
.v .vrow .vcol.vcol-40 {
  width: 40%;
}
.v .vrow .vcol.vcol-50 {
  width: 50%;
}
.v .vrow .vcol.vcol-60 {
  width: 60%;
}
.v .vrow .vcol.vcol-70 {
  width: 70%;
}
.v .vrow .vcol.vcol-80 {
  width: 80%;
}
.v .vrow .vcol.status-bar {
  font-size: $font-size-smallest;
}
.v .vrow .vcol.status-bar.warning {
  color: var(--color-orange);
}
.v .emoji,
.v .vemoji {
  max-width: 25px;
  vertical-align: middle;
  margin: 0 1px;
  display: inline-block;
}
.v .vwrap {
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  padding: 10px;
}
.v .vwrap input {
  background: transparent;
}
.v .vwrap .vedit {
  position: relative;
  padding-top: 10px;
}
.v .vwrap .cancel-reply-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
.v .vwrap .vemojis {
  display: none;
  font-size: 18px;
  max-height: 145px;
  overflow: auto;
  padding-bottom: 10px;
  box-shadow: 0 0 1px #f0f0f0;
}
.v .vwrap .vemojis i {
  font-style: normal;
  padding-top: 7px;
  width: 36px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
.v .vwrap .vpreview {
  padding: 7px 20px;
}
.v .vwrap .vheader .vinput {
  width: 33.33%;
  border-bottom: 1px dashed var(--color-grey);
}
.v .vwrap .vheader .vinput:focus {
  border-bottom-color: var(--primary-color);
}
.v .vwrap .vheader.item2 .vinput {
  width: 50%;
}
.v .vwrap .vheader.item1 .vinput {
  width: 100%;
}
.vcount {
  padding: 5px;
  font-weight: 600;
  font-size: $font-size-larger;
}
.veditor {
  width: 100%;
  min-height: 8.75em;
  font-size: 0.875em;
  background: transparent;
  resize: vertical;
  transition: all 0.25s ease;
}
.vempty {
  padding: 1.25em;
  text-align: center;
  color: #555;
  overflow: auto;
}
.vsys {
  display: inline-block;
  padding: 0.2em 0.5em;
  font-size: 0.75em;
  border-radius: 0.2em;
  margin-right: 0.3em;
}
.vcards {
  width: 100%;
}
.vcards .vcard {
  padding-top: 1.25em;
  position: relative;
  display: block;
}
.vcards .vcard::after {
  content: "";
  clear: both;
  display: block;
}
.vcards .vcard .vimg {
  width: 3.125em;
  height: 3.125em;
  float: left;
  border-radius: 50%;
  margin-right: 0.7525em;
  border: 1px solid var(--grey-3);
  padding: 0.125em;
}
.vcards .vcard .vhead {
  line-height: 1.5;
  margin-top: 0;
}
.vcards .vcard .vhead .vnick {
  position: relative;
  font-size: $font-size-small;
  font-weight: 500;
  margin-right: 0.875em;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
.vcards .vcard .vhead .vnick:hover {
  color: var(--primary-color);
}
.vcards .vcard .vtag {
  font-size: 12px;
  display: inline-block;
  line-height: 20px;
  border-radius: 2px;
  color: #fff;
  padding: 0 5px;
  position: inherit;
}
.vcards .vcard .vtag.vmaster {
  background: var(--color-orange);
}
.vcards .vcard .vh {
  overflow: hidden;
  padding-bottom: 0.5em;
  border-bottom: 1px dashed #f5f5f5;
}
.vcards .vcard .vh .vtime {
  font-size: 0.75em;
  margin-right: 0.875em;
}
.vcards .vcard .vh .vmeta {
  line-height: 1;
  position: relative;
}
.vcards .vcard .vh .vmeta .vat {
  font-size: 0.8125em;
  color: var(--primary-color);
  cursor: pointer;
  float: right;
}
.vcards .vcard .vh .vmeta .vat:hover {
  color: var(--color-aqua);
}
.vcards .vcard:last-child .vh {
  border-bottom: none;
}
.vcards .vcard .vcontent {
  word-wrap: break-word;
  word-break: break-all;
  font-size: 0.875em;
  line-height: 2;
  position: relative;
  margin-bottom: 0.75em;
  padding-top: 0.625em;
}
.vcards .vcard .vcontent.expand {
  cursor: pointer;
  max-height: 8em;
  overflow: hidden;
}
.vcards .vcard .vcontent.expand::before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 3.15em;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,0.9)));
  background: linear-gradient(180deg, rgba(255,255,255,0), rgba(255,255,255,0.9));
  z-index: 999;
}
.vcards .vcard .vcontent.expand::after {
  display: block;
  content: attr(data-expand);
  text-align: center;
  color: #828586;
  position: absolute;
  width: 100%;
  height: 3.15em;
  line-height: 3.15em;
  left: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(255,255,255,0.9);
}
.vcards .vcard .vquote {
  padding-left: 1em;
  border-left: 1px dashed rgba(237,237,237,0.5);
}
.vcards .vcard .vquote .vimg {
  width: 2.225em;
  height: 2.225em;
}
.vpage .vmore {
  margin: 1em 0;
}
@media screen and (max-width: 520px) {
  .v .vwrap .vheader.item2 .vinput,
  .v .vwrap .vheader .vinput {
    width: 100%;
  }
  .v .vsys {
    display: none;
  }
}
@media screen and (max-width: 720px) {
  .v .vcards .vcard .vimg {
    width: 2.5em;
    height: 2.5em;
  }
}
.v .vspinner {
  width: 22px;
  height: 22px;
  display: inline-block;
  border: 6px double #a0a0a0;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  position: relative;
  vertical-align: middle;
  margin: 0 5px;
}
.dark .v .status-bar,
.dark .v .veditor,
.dark .v .vinput,
.dark .v p,
.dark .v pre code,
.night .v .status-bar,
.night .v .veditor,
.night .v .vinput,
.night .v p,
.night .v pre code,
.theme__dark .v .status-bar,
.theme__dark .v .veditor,
.theme__dark .v .vinput,
.theme__dark .v p,
.theme__dark .v pre code,
[data-theme=dark] .v .status-bar,
[data-theme=dark] .v .veditor,
[data-theme=dark] .v .vinput,
[data-theme=dark] .v p,
[data-theme=dark] .v pre code {
  color: #b2b2b5;
}
.dark .v .vsys,
.dark .v .vtime,
.night .v .vsys,
.night .v .vtime,
.theme__dark .v .vsys,
.theme__dark .v .vtime,
[data-theme=dark] .v .vsys,
[data-theme=dark] .v .vtime {
  color: #929298;
}
.dark .v code,
.dark .v pre,
.dark .v pre code,
.night .v code,
.night .v pre,
.night .v pre code,
.theme__dark .v code,
.theme__dark .v pre,
.theme__dark .v pre code,
[data-theme=dark] .v code,
[data-theme=dark] .v pre,
[data-theme=dark] .v pre code {
  color: #929298;
  background-color: #151414;
}
.dark .v .vwrap,
.night .v .vwrap,
.theme__dark .v .vwrap,
[data-theme=dark] .v .vwrap {
  border-color: #b2b2b5;
}
.dark .v .vicon,
.night .v .vicon,
.theme__dark .v .vicon,
[data-theme=dark] .v .vicon {
  fill: #b2b2b5;
}
.dark .v .vicon.actived,
.night .v .vicon.actived,
.theme__dark .v .vicon.actived,
[data-theme=dark] .v .vicon.actived {
  fill: #66b1ff;
}
.dark .v .vbtn,
.night .v .vbtn,
.theme__dark .v .vbtn,
[data-theme=dark] .v .vbtn {
  color: #b2b2b5;
  border-color: #b2b2b5;
}
.dark .v .vbtn:hover,
.night .v .vbtn:hover,
.theme__dark .v .vbtn:hover,
[data-theme=dark] .v .vbtn:hover {
  color: #66b1ff;
  border-color: #66b1ff;
}
.dark .v a:hover,
.night .v a:hover,
.theme__dark .v a:hover,
[data-theme=dark] .v a:hover {
  color: var(--primary-color);
}
.dark .v .vcards .vcard .vcontent.expand:before,
.night .v .vcards .vcard .vcontent.expand:before,
.theme__dark .v .vcards .vcard .vcontent.expand:before,
[data-theme=dark] .v .vcards .vcard .vcontent.expand:before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.3)), to(rgba(0,0,0,0.7)));
  background: linear-gradient(180deg, rgba(0,0,0,0.3), rgba(0,0,0,0.7));
}
.dark .v .vcards .vcard .vcontent.expand:after,
.night .v .vcards .vcard .vcontent.expand:after,
.theme__dark .v .vcards .vcard .vcontent.expand:after,
[data-theme=dark] .v .vcards .vcard .vcontent.expand:after {
  background: rgba(0,0,0,0.7);
}
@media (prefers-color-scheme: dark) {
  .v .status-bar,
  .v .veditor,
  .v .vinput,
  .v p,
  .v pre code {
    color: #b2b2b5;
  }
  .v .vsys,
  .v .vtime {
    color: #929298;
  }
  .v code,
  .v pre,
  .v pre code {
    color: #929298;
    background-color: #151414;
  }
  .v .vwrap {
    border-color: #b2b2b5;
  }
  .v .vicon {
    fill: #b2b2b5;
  }
  .v .vicon.actived {
    fill: #66b1ff;
  }
  .v .vbtn {
    color: #b2b2b5;
    border-color: #b2b2b5;
  }
  .v .vbtn:hover {
    color: #66b1ff;
    border-color: #66b1ff;
  }
  .v a:hover {
    color: var(--primary-color);
  }
  .v .vcards .vcard .vcontent.expand:before {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.3)), to(rgba(0,0,0,0.7)));
    background: linear-gradient(180deg, rgba(0,0,0,0.3), rgba(0,0,0,0.7));
  }
  .v .vcards .vcard .vcontent.expand:after {
    background: rgba(0,0,0,0.7);
  }
}
@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
@-o-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
@-moz-keyframes pulse {
  50% {
    background: #dcdcdc;
  }
}
@-webkit-keyframes pulse {
  50% {
    background: #dcdcdc;
  }
}
@-o-keyframes pulse {
  50% {
    background: #dcdcdc;
  }
}
@keyframes pulse {
  50% {
    background: #dcdcdc;
  }
}
