.breadcrumb {
  display: inline-flex;
  font-size: $font-size-smaller;
  color: var(--grey-4);
  align-items: center;
  margin-top: 20px;
  padding: 1rem 2rem;
  flex-wrap: wrap;
mobile-small()
}
.breadcrumb i {
  margin: 0 2px;
}
.breadcrumb i:nth-child(1) {
  margin-left: 0px;
  margin-right: 5px;
}
.breadcrumb span {
  white-space: pre;
}
.breadcrumb span.current {
  background-color: var(--color-red-a1);
  border-radius: 10px;
  padding: 0 10px;
}
.breadcrumb span.current span {
  white-space: normal;
}
.breadcrumb span.current a {
  color: var(--primary-color);
}
.breadcrumb span.current:hover {
  background-color: var(--color-red-a3);
}
