.nav {
  z-index: $zindex-1;
  background: var(--grey-1);
  border-top: 1px solid var(--grey-3);
}
.nav .inner {
  display: flex;
  justify-content: space-between;
}
.nav .item {
  flex: 1;
  padding: 10px;
}
.nav .item a {
  border-bottom: none;
  display: block;
  font-size: $font-size-small;
  line-height: 1.6;
  position: relative;
}
.nav .item a:active {
  top: 2px;
}
.nav .item i {
  font-size: $font-size-smallest;
}
.nav .item:first-child {
  margin-right: 15px;
}
.nav .item:first-child i {
  margin-right: 5px;
}
.nav .item:last-child {
  margin-left: 15px;
  text-align: right;
}
.nav .item:last-child i {
  margin-left: 5px;
}
