.reward {
  margin: 20px auto;
  padding: 10px 0;
  text-align: center;
}
.reward button {
  background: var(--primary-color);
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  line-height: 2;
  outline: 0;
  padding: 0 15px;
  vertical-align: text-top;
}
.reward button:hover {
  background: var(--primary-color);
}
.reward button i {
  margin-right: 5px;
}
.reward p {
  font-size: $font-size-smaller;
  color: var(--grey-5);
  margin: 0;
}
#qr {
  padding-top: 20px;
  display: none;
}
#qr a {
  border: 0;
}
#qr img {
  display: inline-block;
  max-width: 100%;
}
#qr p {
  text-align: center;
}
