.rtl.body p,
.rtl.body a,
.rtl.body h1,
.rtl.body h2,
.rtl.body h3,
.rtl.body h4,
.rtl.body h5,
.rtl.body h6,
.rtl.body li,
.rtl.body ul,
.rtl.body ol {
  direction: rtl;
  font-family: UKIJ Ekran;
}
.rtl.title {
  font-family: UKIJ Ekran;
}
