.post .tags {
  text-align: center;
  font-size: $font-size-smallest;
}
.post .tags a {
  display: inline-block;
  position: relative;
  color: var(--color-pink);
  padding: 0px 5px;
}
.post .tags a:not(:last-child) {
  margin-right: 10px;
}
.post .tags a:before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 0;
  right: 0;
  background: var(--color-red-a1);
  border-radius: 4px;
}
.post .tags a:hover {
  color: var(--primary-color);
}
.post .tags a:hover:before {
  width: 104%;
  left: -2%;
}
