.overview .menu {
  padding: 20px;
  margin: 0;
  background-color: transparent;
}
.overview .menu .item {
  border-radius: 15px;
  margin-bottom: 10px;
  display: block;
  color: var(--grey-5);
}
.overview .menu .item a {
  color: inherit;
  display: block;
  line-height: 3;
}
.overview .menu .item:hover {
  background-color: rgba(0,0,0,0.1);
  color: inherit;
}
.overview .menu .item i {
  margin-right: 10px;
}
.overview .menu .item.active {
  color: #fff;
  background-image: linear-gradient(to right, var(--color-pink) 0, var(--color-orange) 100%);
  box-shadow: 0 0 12px var(--color-pink-a3);
}
.overview .menu .item.active:hover {
  box-shadow: 0 0 12px var(--color-pink);
}
