.social {
  margin-top: 15px;
  text-align: center;
}
.social .item {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 38%;
}
.social .item i {
  font-size: 1.4em;
  vertical-align: middle;
  transform: scale(0.8);
}
.social .item::before {
  top: 90%;
  left: -110%;
  content: "";
  width: 120%;
  height: 120%;
  position: absolute;
  transform: rotate(45deg);
}
.social .item:focus::before,
.social .item:hover::before {
  top: -10%;
  left: -10%;
}
.social .item.github::before {
  background-color: #191717;
}
.social .item.github i {
  color: #191717;
}
.social .item.twitter::before {
  background-color: #00aff0;
}
.social .item.twitter i {
  color: #00aff0;
}
.social .item.zhihu::before {
  background-color: #1e88e5;
}
.social .item.zhihu i {
  color: #1e88e5;
}
.social .item.music::before {
  background-color: #e60026;
}
.social .item.music i {
  color: #e60026;
}
.social .item.weibo::before {
  background-color: #ea716e;
}
.social .item.weibo i {
  color: #ea716e;
}
.social .item.about::before {
  background-color: #3b5998;
}
.social .item.about i {
  color: #3b5998;
}
.social .item:focus i,
.social .item:hover i {
  color: var(--grey-0);
  transform: scale(1);
}
