.contents ol {
  padding: 0 2px 5px 10px;
  text-align: left;
}
.contents ol >ol {
  padding-left: 0;
}
.contents .toc-item {
  font-size: $font-size-medium;
  line-height: 1.8;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.contents .toc-child {
  display: none;
}
.contents .active>.toc-child {
  display: block;
}
.contents .current>.toc-child {
  display: block;
}
.contents .current>.toc-child >.toc-item {
  display: block;
}
.contents .active>a {
  color: var(--primary-color);
}
.contents .current>a {
  color: var(--primary-color);
}
.contents .current>a:hover {
  color: var(--primary-color);
}
